* {
margin: 0;
padding: 0;
}

body{
	padding-top: 70px;
}

#header{
	background: #eaeaea;
	padding: 10px;

	position:fixed;
	top:0;
	width:100%;
}

#header-content{
	width: 960px;
	margin: 0 auto;
}

#search-box{
	float:left;
	margin-left: 10px;
}

#search-box input[type="text"]{
	height: 30px;
	width: 450px;
	padding-left:30px;
	background: #fff url('img/search.png') no-repeat 7px 50%;
	border: 1px solid #999999;
}

#header-right{
	float: right;
}

#header-empty{
	clear: both;
}

#project-name{
	float: left;
	text-decoration: none;
	font-weight: bold;
	background: #a82400;
	color:#fff;
	padding: 6px 5px;
	font-family: sans-serif;
	vertical-align: middle;
}

#header-menu-user, #header-menu-home{
	margin-right: 10px;
	vertical-align: middle;
	font-weight: bold;
	color:#36312f;
	font-family: sans-serif;
}

#btn-add-question{
	vertical-align: middle;
	font-weight: bold;
	color:#36312f;
	font-family: sans-serif;
	padding: 5px 7px;
}

#container{
	width: 960px;
	margin: 0px auto;
	margin-top: 15px;
}

#tab-header{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
}

#tabs{
	float: right;
	vertical-align: bottom;
	line-height: 24px;
}

#tabs a{
	text-decoration: none;
	margin-left: 10px;
	margin-right: 15px;
}

#tabs a.active{
	border: 1px solid #cccccc;
	border-bottom: 1px solid #fff;
	padding: 5px 5px 8px 5px;
}

#tabs a.active:hover{
	border: 1px solid #cccccc;
	border-bottom: 1px solid #fff;
	padding: 5px 5px 8px 5px;
	margin-right: 15px;
	margin-left: 10px;
}

#tabs a:hover{
	border: 1px solid #cccccc;
	border-bottom: 1px solid #fff;
	padding: 1px 5px 8px 5px;
	margin-left: 4px;
	margin-right: 9px;
}

h2#top-questions{
	float: left;
	line-height: 24px;
}

.question-top-block
{
	border-bottom: 1px solid #cccccc;
	padding: 10px 15px;
}

.vote,.answer,.view,.answer-not-zero,.view-not-zero{
	float: left;
	text-align: center;
	font-family: sans-serif;
}

.title{
	float: left;
	font-family: sans-serif;
}

.empty-view{
	clear: both;
}

.time-ago{
	color:#999999;
	font-family: sans-serif;
	font-size: 12px;
	margin-right: 3px;
}

.answer,.view,.answer-not-zero{
	margin-left: 15px;
}

.vote{
	color:#555555;
}

.answer{
	color:#c36c44;
}

.answer-not-zero{
	background: #75845c;
	color: #fff;
	padding: 5px;
}

.view-not-zero{
	margin-left: 8px;
}

.view,.view-not-zero{
	color:#999999;
}

.title{
	margin-left: 15px;
	width: 390px;
}

.tag-container{
	margin-top: 5px;
}

.tag{
	background: #e0eaf1;
	padding: 3px 5px;
	color: #4b98c1;
	text-decoration: none;
}

.tag:hover{
	background: #95aebf;
}

.title-link{
	text-decoration: none;
	color: #0077d5;
	font-family: sans-serif;
	font-weight: 800;
}

.title-link:hover{
	text-decoration: underline;
}

.author-container{
	float: right;
}

.author{
	color: #197096;
	margin-right: 10px;
	text-decoration: none;
}

.author:hover{
	text-decoration: underline;
}

.author-point{
	color:#555555;
}

#content,#sidebar{
	float: left;
}

#content{
	width: 710px;
}

#sidebar{
	width: 200px;
	padding: 5px 20px;

	/*position:fixed;
	margin-left: 720px;*/
}

#hot-question-box{
	background: #efefef;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 8px;
}

#hot-question-box #title-hot{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
}

.hot-question-title{
	float: left;
	width: 155px;
	margin-left: 5px;
	font-size: 14px;
}

.hot-question-title a{
	text-decoration: none;
	color: #0077d5;
}

.hot-question-title a:hover{
	text-decoration: underline;
}

.hot-question-point{
	float: left;
	color:#999999;
}

.empty-hot-question-title{
	clear: both;
}

.hot-question-container{
	margin-bottom: 10px;
}

#footer{
	background: #777777;
	clear: both;
	border-top: 10px solid black;
	color: #fff;
	font-family: sans-serif;
}

#footer-container{
	margin: 0 auto;
	width: 960px;
	padding: 20px 0px;
}

#footer td{
	padding-right: 60px;
}

#footer th{
	text-align: left;
	padding-bottom: 20px;
	color: #cccccc;
}

#footer p{
	margin-top: 40px;
	color: #cccccc;
}

/* detail.html */

h2#question-title{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	margin-bottom: 20px; 
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #818185;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid #818185;

	margin-top: 33px;
}

.vote{
	margin: 5px 0px 0px 8px;
	font-size: 24px;
}

.vote-container{

}

.question{
	width: 670px;
	margin-left: 10px;
}

.vote-container,.question{
	float: left;
}

.question p{
	text-align: justify;
	font-family: sans-serif;
	margin-bottom: 20px;
}

.question pre{
	background: #eeeeee;
	margin-bottom: 20px;
	white-space: pre-line;
	padding: 5px;
}

.question .author-question{
	background: #e0eaf1;
	padding : 3px 30px 3px 3px;
	float: right;
}

#question-container,.the-answer{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#answer-container h2{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

/* detail.html */